@use "./variables.scss" as *;

:root {
  --linear-background: linear-gradient(180deg, rgba(255, 211, 226, 1), rgba(168, 255, 195, 1) 100%);
}

// put your custom CSS here!
li li .folder-container div>button span {
    font-size: .9rem
}

.page-title,.use-title-font {
    font-family: var(--titleFont)!important
}

@media not (max-width: 800px) {
    .page>#quartz-body .sidebar.left {
        border:2px solid var(--gray);
        /* height:calc(100vh - 2rem); */
        box-shadow: 0px 6px 0 0 var(--gray);
        border-radius: 1rem;
        align-content: flex-start;
        margin: 2rem 1rem 2rem 2rem ;
        padding-top: 2rem;
        transition-property: border,box-shadow;
        transition-duration: .3s;
        transition-timing-function: ease-in;
        top: 1rem;
        background: var(--linear-background);
        height: fit-content;
    }
    .page>#quartz-body .sidebar.right, .page>#quartz-body .sidebar.right {
        padding-top: 2rem;
    }
    .page>#quartz-body .page-header {
        margin-top: 3rem;
    }
}

@media not (min-width: 1200px) {
    .page>#quartz-body .sidebar.left {
        height: calc(100vh-4rem);
    }
}

.graph, .backlinks {
    background: linear-gradient(180deg, rgba(255, 211, 226, 1), rgba(168, 255, 195, 1) 100%);
    box-shadow: 0px 6px 0 0 var(--gray);
    border-radius: 1rem;
    padding: 2rem;
    border:2px solid var(--gray);
    height: fit-content;
}

.graph>.graph-outer {
    border: none;
}