@use "./variables.scss" as *;

// put your custom CSS here!
li li .folder-container div>button span  {font-size: 0.9rem;}

.page-title, .use-title-font {
    font-family: var(--titleFont) !important;
}

@media not (max-width: 800px) {
    .page>#quartz-body .sidebar.left {
        border: 2px solid var(--gray);
        height: calc(100vh - 2rem);
        box-shadow: 0px 6px 0 0 var(--gray);
        border-radius: 1rem;
        align-content: flex-start;
        margin: 1rem;
        transition-property: border,box-shadow;
        transition-duration: .3s;
        transition-timing-function: ease-in;
        top: 1rem
        padding-top: 2rem;
    }
}